name: Create Github Release

on:
  workflow_call:
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true
    inputs:
      cache-sum-files:
        description: 'Glob pattern to go.sum files in the repo, for multi-module repos'
        default: 'go.sum'
        required: false
        type: string

permissions:
   contents: write # needed to write releases

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true # https://github.com/actions/setup-go#check-latest-version
          cache: true # https://github.com/actions/setup-go#caching-dependency-files-and-build-outputs
          cache-dependency-path: ${{ inputs.cache-sum-files }}
        env:
          GOPRIVATE: "github.com/ksoc-private"

      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://ksocautomator:${TOKEN}@github.com".insteadOf "https://github.com"

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          install-only: true

      - name: Release
        if: startsWith(github.ref , 'refs/tags/v') == true
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      # Ref: https://github.com/convictional/trigger-workflow-and-wait
      - name: Update api-client-ts
        if: startsWith(github.ref , 'refs/tags/v') == true
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          owner: ksoc-private
          repo: api-client-ts
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          workflow_file_name: draft-release.yml
          wait_workflow: false
