name: test

on:
  workflow_call:
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true
    inputs:
      testpkgs:
        description: 'The Go packages to test as a space seperated list (can use the go ... expansion'
        default: './...'
        required: false
        type: string
      cache-sum-files:
        description: 'Glob pattern to go.sum files in the repo, for multi-module repos'
        default: 'go.sum'
        required: false
        type: string
      workingdir:
        description: 'working directory, used for monorepos. Default is .'
        default: '.'
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingdir }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true # https://github.com/actions/setup-go#check-latest-version
          cache: true # https://github.com/actions/setup-go#caching-dependency-files-and-build-outputs
          cache-dependency-path: ${{ inputs.cache-sum-files }}
        env:
          GOPRIVATE: "github.com/ksoc-private"
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://ksocautomator:${TOKEN}@github.com".insteadOf "https://github.com"
      - name: Test
        run: go test -short -race ${{ inputs.testpkgs }}
